@import url(c:\Users\User\Desktop\weather-app\src\reset.css);
html {
  font-family: sans-serif;
}

.header {
  border: 1px solid black;
  padding: 7px;
  margin: 7px;
}

.navbar {
  border: 1px solid black;
  padding: 7px;
  margin: 7px;
}

.navbar .navbar-links {
  display: flex;
  border: 1px solid black;
  padding: 7px;
  margin: 7px;
}

.navbar .navbar-links a {
  margin-inline: 10px;
  text-decoration: none;
}

.main {
  border: 1px solid black;
  padding: 7px;
  margin: 7px;
}

.main .forecasts {
  border: 1px solid black;
  padding: 7px;
  margin: 7px;
  display: flex;
  flex-direction: column;
}

.main .forecasts .forecasts-top {
  display: flex;
}

.main .forecasts .forecasts-top .star {
  color: gray;
}

.main .forecasts .forecasts-top .star-favorite {
  color: yellow;
}

.main .forecasts .forecasts-bottom {
  text-align: center;
  display: flex;
  flex-direction: column;
}

.main .forecasts .forecasts-bottom .fourcasts-cards {
  flex-wrap: wrap;
  justify-content: space-between;
  margin: auto;
  max-width: 100%;
  display: flex;
  flex-direction: row;
}

.main .forecasts .forecasts-bottom .fourcasts-cards .forecast-item {
  border: 1px solid black;
  padding: 7px;
  margin: 7px;
  width: 8rem;
  display: flex;
  flex-direction: column;
}

.favorites {
  border: 1px solid black;
  padding: 7px;
  margin: 7px;
}

.favorites .favorite-cities {
  border: 1px solid black;
  padding: 7px;
  margin: 7px;
  display: flex;
  flex-direction: row;
  margin: auto;
  max-width: 600px;
  justify-content: center;
}

.favorites .favorite-cities .location-item {
  border: 1px solid black;
  padding: 7px;
  margin: 7px;
  text-align: center;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.search-bar {
  width: 300px;
  position: relative;
}

.search-bar .search-unit {
  position: relative;
  width: 100%;
}

.search-bar .search-unit .search-icon {
  position: absolute;
  height: 100%;
  left: 8px;
}

.search-bar .search-unit .search-input {
  padding: 8px 8px 8px 32px;
  outline: none;
  width: 100%;
  height: 50px;
}

.search-bar .search-cities-list {
  width: 100%;
  display: flex;
  flex-direction: column;
  border: 1px solid rgba(0, 0, 0, 0.3);
  position: absolute;
  top: 50px;
  background-color: white;
  z-index: 998;
  padding: 8px;
}

.search-bar .search-cities-list .city-found-name {
  cursor: pointer;
  font-size: smaller;
  padding: 8px;
}

.search-bar .search-cities-list .city-found-name:not(:last-child) {
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}

.search-bar .search-cities-list .city-found-name:hover {
  background-color: rgba(0, 0, 0, 0.06);
  cursor: pointer;
}
